.footer{
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: #222222;
    color : white;
    position: relative;
    bottom : 0;
    left: 0;
    width: 100%;
  }

  .footercontainer {
    margin-top : 100vh;
  }