.mainpage{
    background-color: #ececec;
}

.recommend {
    background-color: #ececec;
}

#Trending {
    font-family : copperplate;
    font-weight : bold;
    margin-top : 10px;
}

.spacing {
    height : 50px;
}

.spacing2 {
    height : 20px;
}

.community {
    position : relative;
    width : 100vw;
}