.commentwrapper {
    background-color: transparent;
    border : 1.5px solid;
    border-color: #ececec;
    margin-bottom : 5px;
    width : 80%;
    height : 100%;

}

.Comment {
    overflow: hidden;
}

.commentbox {
    
    width : 100%;
    height : 100%;
}

.editbutton {
    left : 0;
}